<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>ru.itis.servlets.MyFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showUsers</servlet-name>
        <servlet-class>ru.itis.servlets.ShowUsersServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>showUsers</servlet-name>
        <url-pattern>/showUsers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>showAuto</servlet-name>
        <servlet-class>ru.itis.servlets.ShowAutoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showAuto</servlet-name>
        <url-pattern>/showAuto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addAuto</servlet-name>
        <servlet-class>ru.itis.servlets.AddAutoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addAuto</servlet-name>
        <url-pattern>/addAuto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>ru.itis.servlets.UpdateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

</web-app>